* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

.Card {
  position: relative;
  background: var(--blanco, #fdfeff);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.header {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100vw;
  height: 15vh;
  padding: 30px 0 0 0;
}
.Backgr-degrade {
  background: var(
    --degradado-a-blanco-con-color,
    linear-gradient(
      0deg,
      rgba(253, 254, 255, 0) 25%,
      rgba(255, 142, 10, 0.53) 75%,
      rgba(255, 142, 10, 0.9) 100%
    )
  );
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 10vh;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 80vw;
}
.top-bar h1 {
  margin: 0 20px 0 10px;
  height: 24px;

  display: flex;
  align-self: stretch;
  overflow: hidden;
  color: var(--medios-tonos-gris-5, #26262e);
  text-align: center;
  text-overflow: ellipsis;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.top-bar img {
  position: absolute;
  left: 0;
}

.ssinger {
  height: 224px;
  width: 224px;
  border-radius: 0px 50px;
  z-index: 1;
  overflow: hidden;
  gap: 0;
  display: flex;
  flex-wrap: wrap;
}
.ssinger2 {
  height: 112px;
  width: 112px;
}
.ssinger3 {
  height: 112px;
  width: 112px;
  overflow: hidden;
}
