.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 80%;
}

.top-bar img {
    position: absolute;
    left: 0;
    cursor: pointer;
}

.playlist-button {
    background: var(--medios-tonos-gris-1, #E4E6E8);
    color: white;
    border: 0;
    border-radius: 0px 16px;
    position: absolute;
    bottom: 20%;
}

.cupid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 100%;
    height: 400px;
    flex-shrink: 0;
    gap: 20px;
    margin: 0 0 70px 0;
}

.singer {
    height: 280px;
    width: 280px;
    border-radius: 0px 50px;
    position: absolute;
    top: 30px;
    z-index: 1;
}

.singer2 {
    height: 200px;
    width: 200px;
    border-radius: 0px 50px;
    position: absolute;
    top: -20px;
    right: 20px;
    z-index: 0;
    transform: rotate(10.45deg);
    opacity: 0.5;
}

.buttons {
    display: flex;
    width: 46%;
    justify-content: space-between;
    z-index: 1;
}

.buttons button {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background-color: white;
    border: 0;
    box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.2);
}