#main-registration {
    position: absolute;
    background: none;
    z-index: 2;
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    z-index: 1;
}

.heading h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-left: 30%;

}

#main-registration h1 {
    width: 320px;
    color: #26262E;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.5px;
    margin-top: 32px;
    margin-bottom: 20px;
}

.arrow_back {
    border: none;
    width: 10px;
}

label {
    align-self: stretch;
    color: #26262E;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-left: 5%;
    z-index: 1;
}

input {
    display: flex;
    width: 90%;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 0px 16px;
    border: 2px solid #E4E6E8;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
}
#check {
    display: flex;
    color: #26262E;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.5px;
    align-items: center;
    gap: 12px;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
} 

#userName {
    margin-bottom: 46px;
}

#main-registration p {
    align-self: stretch;
    color: #838486;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.5px;
    margin-left: 5%;
    margin-bottom: 19px;
}

 .checkboxstyle {
    border-radius: 0px 16px;
    border: 2px solid #E4E6E8;
}

#terms_conditions {
    display: flex;
    color: #26262E;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    z-index: 1;
} 

.btn_placer {
    position: absolute;
    bottom: 10%;
    width: 100%;
    margin-left: 10%;
}

.btn_continue {
    position: absolute;
    bottom: 10%;
    width: 90%;
    padding: 12px 16px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0px 16px;
    background: #E4E6E8;
    cursor: pointer;
    z-index: 2;
    color: white;
}

.valid-email {
    background: #FF8E0A;
}

.top-gradient {
    position: absolute;
    width: 100%;
    height: 160px;
    opacity: 0.25;
    background: linear-gradient(360deg, rgba(253, 254, 255, 0.00) 25%, rgba(255, 142, 10, 0.53) 75%, rgba(255, 142, 10, 0.90) 100%);
    z-index: 0;
}

.btm-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 338px;
    background: linear-gradient(180deg, rgba(253, 254, 255, 0.00) 0%, #FDFEFF 45.83%, #FDFEFF 100%);
    z-index: 0;
}